{% extends "base.html" %}
{% block title %}
  Наши правила
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Правила сайта
      </div>
      <div class="card-body">
        <p>
          При регистрации пользователь обязан выбрать, кем он является (физическим лицом, либо 
          юридическим). Также пользователь обязан выбрать тариф, согласно договору (в ином случае на сайте будет
          отображена некорректная информация).
        </p>
        <p>
          Пользователь должен создать заявку на оплату за месяц, которая должна содержать
          показатели потребления со счечиков. На основе этой информации пользователь может просмотреть
          карточку данной заявки, в которой будет отражен тариф, показатели, месяц, а также сумма к оплате
          и дата, до которой пользователь должен внести платёж. Пользователь при оплате должен нажать на кнопку "Оплатить"
          на карточке, чтобы пометить оплату. Все данные потом валидируются администратором.
        </p>
        <p>
          Любой пользователь (даже не авторизованный) может просматривать список тарифов на главной странице.
          Для каждого тарифа предусмотрено отображение метода оплаты: цена * на 1 кВтч, постоянный платёж.
        </p>
        <p>
          Также каждый пользователь может просматривать список своих заявок на оплату.
        </p>
      </div>
    </div>
  </div>
{% endblock %}